.full-width {
  width: 100%;
}

.shipping-card {
  //screen max-width: 767px;
  width: 85%;
  min-width: 250px;
  margin: 20px auto;
  margin-top: 50px;

  @media (min-width: 768px) {
    min-width: 650px;
    width: 65%;
    max-width: 800px;
  }
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  //screen max-width: 767px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.col {
  flex: 1;

  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.col:last-child {
  margin-right: 0;
}

.mat-card-title {
  font-size: xx-large;
  padding: 25px 0;
}

.calendar {
  text-align: center;
}


.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}

.images-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  // width: auto;
  background-color: #eeeeee;
  margin-top: 10px;
  max-width: 100%;

  .image {
    cursor: pointer;
    padding: 15px 15px 0 15px;
    width:180px;
    
    @media(min-width: 1024px) {
      width:250px;
    }
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  overflow-y: scroll;
  background: #c4c4c4;
  box-shadow: inset 0 0 4px #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3F51B5;
  border-radius: 10px;
}

agm-map {
  height: 250px;
}

.map {
  margin-top: 20px;
}

.search-field {
  width: 100%;

  // @media (max-width: 725px) {
  //   max-width: 200px;
  // }
}

.image-dialog {
  width: 12px;
}