.mat-card-title {
  font-size: xx-large;
  padding: 25px 0;
}

.container {
  width: 80%;
  margin: 20px auto;

  @media(min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1024px) {
    min-width: 800px;
    width: 60%;
  }
}

.row {
  display: flex;
  flex-direction: column;

  @media(min-width: 1024px) {
    flex-direction: row;
  }
}

.col {
  flex: 1;
  
  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.col:last-child {
  margin-right: 0;
}

agm-map {
  // min-height: 250px;
  height: 250px;

  @media (min-width: 1024px) {
    height: 350px;
  }
}


.info {
  font-size: large;
  max-height: 350px;

  @media (min-width: 500px) {
    font-size: x-large;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}


.images-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  width: auto;
  background-color: #eeeeee;

  .image {
    cursor: pointer;
    padding: 15px 15px 0 15px;
    width:180px;
    
    @media(min-width: 1200px) {
      width:250px;
    }
  }
}
