<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-mini-card [icon]="mc.icon" [title]="mc.title" [value]="mc.value" [color]="mc.color" [isCurrency]="mc.isCurrency"></app-mini-card>
    </mat-grid-tile>

    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Events Categories">
        <app-category-chart></app-category-chart>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Events Cost">
        <app-divided-cost-chart></app-divided-cost-chart>
      </app-card>
    </mat-grid-tile>

    <!-- Maxi Card -->
    <mat-grid-tile class="maxi" [colspan]="( cardLayout | async )?.maxiCard.cols" [rowspan]="( cardLayout | async )?.maxiCard.rows">
      <app-card title="Monthly Cost">
        <app-monthly-expenses-chart></app-monthly-expenses-chart>
      </app-card>
    </mat-grid-tile>

    <!-- Table -->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <app-card title="Latest Orders">
        <app-events-table></app-events-table>
      </app-card>
   </mat-grid-tile>
    
  </mat-grid-list>
 </div>