.chartContainer canvas {
    // min-height: 300px;
    
    width: auto;
    height: 300px;

    @media (min-width: 600px) {
        min-height: 300px;
    }

    @media (min-width: 1024px) {
        max-height: 300px;
    }
}

.chartContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}