<form  [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Welcome back, please login to your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button 
            class="btn-login" 
            mat-raised-button color="primary" 
            type="submit"
            [disabled]="loginForm.invalid"
            >Login
          </button>
          <div class="remember">
            <mat-checkbox [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">Remember me</mat-checkbox>
          </div>
        </div>
      </div>
      <a href="https://api.instagram.com/oauth/authorize
                        ?client_id=4159130624118311
                        &redirect_uri=https://my-event-tracker.herokuapp.com/login
                        &scope=user_profile,user_media
                        &response_type=code" 
                        mat-button>
                    <mat-icon>add_a_photo</mat-icon>
                    Sign In Instagram
                </a>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <mat-label>Don't have an account?</mat-label>
      <a class="btn-register" mat-raised-button routerLink="/register">Register</a>
    </mat-card-footer>
  </mat-card>
</form>
