.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: auto;
}

mat-sidenav-container {
    background-image: url('/assets/images/login-background.jpg');
}
.navigation-items{
    list-style-type: none;
    padding: 10px 0 10px 0;
    margin: 0;
}