<div style="height: 93vh;" class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button *ngIf="visible" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span style="font-size: xx-large;">{{title}}</span>
            <span class="example-spacer"></span>
            <div *ngIf="visible" fxShow="true" fxHide.lt-md="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a routerLink="/dashboard" (click)="titlePage('Dashboard')" mat-button>
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>
                <a routerLink="/events" (click)="titlePage('Events')" mat-button>
                    <mat-icon>view_list</mat-icon>
                    Events
                </a>
                <a routerLink="/add-event" (click)="titlePage('Add event')" mat-button>
                    <mat-icon>add_box</mat-icon>
                    Add event
                </a>
                <a href="#" (click)="logout()" mat-button>
                    <mat-icon>login</mat-icon>
                    Logout
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a routerLink="/dashboard" (click)="titlePage('Dashboard')" mat-list-item>
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>
                <a routerLink="/events" (click)="titlePage('Events')" mat-list-item>
                    <mat-icon>view_list</mat-icon>
                    Events
                </a>
                <a routerLink="/add-event" (click)="titlePage('Add event')" mat-list-item>
                    <mat-icon>add_box</mat-icon>
                    Add event
                </a>
                <a href="#" (click)="logout()" mat-list-item>
                    <mat-icon>login</mat-icon>
                    Logout
                </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon> Close
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
            <!-- <div *ngIf="!auth"></div> -->
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>